<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        Currently pursuing Master's in Computer Science (Negotiated Learning) with major in Data Science from UCD. 
        Currently in my second semester (3.33 GPA ) and actively seeking internship and full-time opportunities with main interests in artificial intelligence, machine learning, and automated algorithm design and would be available from June 2017. I am very interested in developing machines and systems that automatically improve.
    </p>
    <p>
        I usually spend a good chunk of my weekends practising and learning new skills in machine learning, deep learning and algorithms. To develop the in-depth expertise in machine learning I am also taking a Machine Learning Engineer Nanodegree from Udacity.
    </p>
    <p>
Final year of my bachelor's degree has been very crucial for me. In mid-2015, I completed the course M101P: MongoDB for developers, offered by the MongoDB University. After few days, I took part in my first ever Hackathon. I will refer it to as my 'Turning-Point'. There I build a small MongoDB-based app using Python which fetched me the second prize. Due to this, I got an internship offer from Lattice Innovations.
    </p>
    <p>
I always wanted to study differently. It was my second year of my bachelor's degree when I completed my first massive online open course, or MOOC. I spent hours poring over course descriptions, delirious with excitement that I was actually going to take classes offered by universities I had only dreamt of attending. I thoroughly enjoyed the MOOC experience, watched every lecture, religiously took notes, solved all the problem sets, and even participated in the discussion forums. At times, I signed up for more courses than I could handle. Now, I have successfully completed 10 courses, such as MongoDB for Developers, Principles of Computing, Software Security, Intro to Hadoop and MapReduce and Cryptography. This has expanded my knowledge base and allowed me to discover new areas of interest.
    </p>
    <p>
Learn, Spread and Inspire.
    </p>
</div><!--//summary-->
</section><!--//section-->
