<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Software Developer</h3>
                            <div class="time">September - October 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.thelattice.in/">Lattice Innovations</a>, Kolkata - India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was recruited for this medical technology design firm based on HackForHire, Kolkata-2015 results. Worked on front-end related issues on their live project - <a href="http://camtechmgh.org/">www.camtechmgh.org</a> such as form validation and charts for dashboard.</p>  
                        <p>Skills developed: AngularJS, JavaScript, Bootstrap</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Intern</h3>
                            <div class="time">June - July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.tatasteel.com/">Tata Steel</a>, Jamshedpur - India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->