 <div class="voluntary-container container-block">
<h2 class="container-block-title">Voluntary Work</h2>
<div class="item">
    <h4 class="work">IT Consultant</h4>
    <h5 class="meta">Turkish-Irish Business Development Association</h5>
    <h5 class="meta">Dublin, Ireland</h5>
    <div class="time">October 2016 - Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="work">Event Assistant</h4>
    <h5 class="meta">Indialogue Foundation</h5>
    <h5 class="meta">Kolkata, India</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
</div><!--//voluntary-container-->